
<form novalidate (ngSubmit)="onActualizar()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Actualizar Estudiantes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Id Persona" [(ngModel)]="estudiante.id_persona" type="text"
            class="form-control" name="id_persona">
            <mat-error>
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Fecha Ingreso" [(ngModel)]="estudiante.fecha_ingreso" type="text"
            class="form-control" name="fecha_ingreso">
            <mat-error>
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-ms-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="Carnet"[(ngModel)]="estudiante.carnet" type="text"
            class="form-control" name="carnet">
            <mat-error >
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions style="text-align: center;">
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>
